.form {
  margin-top: 2rem;
  &__button {
    padding: 0.75rem 1.5rem;
    margin-top: 2rem;
    background: $secondaryColor;
    color: rgba($darkColor, 0.8);
    border-radius: 0.6rem;
    border: none;
    font-weight: bold;
  }
}
.input {
  color: $whiteColor;
  padding: 1rem;
  max-width: 20rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  border: 1px solid $secondaryColor;
  background: none;
  outline: none;
  &:focus {
    border-color: $primaryColor;
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__label {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}
