.matches__container__matches {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  list-style-type: none;
  @media screen and (max-width: $desktop) {
    grid-gap: 2rem;
  }
  @media screen and (max-width: $phablet) {
    grid-gap: 1rem;
  }
}

.match {
  &__item {
    position: relative;
    padding: 2rem;
    border: 1px solid $primaryColor;
    background: rgba($whiteColor, 0.95);
    border-radius: 0.6rem;
    color: rgba($darkColor, 0.8);
  }
  &__heading {
    font-weight: 700;
    color: rgba($darkColor, 0.95);
  }
  &__format {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }
  &__status {
    background: $darkColor;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    &--is-live {
      color: $successColor;
    }
    &--is-not-live {
      color: $errorColor;
    }
  }
  &__date {
    color: rgba($darkColor, 0.35);
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  &__teams {
    font-size: 2rem;
  }
  &__links {
    display: flex;
    justify-content: space-around;
  }
  &__link {
    text-decoration: none;
    transition: 0.35s ease-in-out;
    color: $successColor;
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
    &:hover {
      color: $darkColor;
      background: $secondaryColor;
    }
  }
}
