.matches__container__matches {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

.match {
  &__item {
    position: relative;
    padding: 2rem;
    border: 1px solid $primaryColor;
    color: $whiteColor;
    border-radius: 0.6rem;
  }
  &__heading {
  }
  &__format {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }
  &__status {
    background: $darkColor;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    &--is-live {
      color: $successColor;
    }
    &--is-not-live {
      color: $errorColor;
    }
  }
  &__date {
    color: $primaryColor;
  }
  &__links {
    display: flex;
    justify-content: space-around;
  }
  &__link {
    text-decoration: none;
    color: $secondaryColor;
    transition: 0.35s ease-in-out;
    padding: 0.5rem 1.5rem;
    &:hover {
      color: $darkColor;
      background: $secondaryColor;
    }
  }
}
