.section-profile {
}

.profile {
  &__navbar {
    margin-top: 4rem;
    width: auto;
    display: flex;
    background: none;
    .nav__link {
      border-bottom: 1px solid $secondaryColor;
      &.active {
        background: $secondaryColor;
        color: $darkColor;
      }
    }
  }
  &__data__list {
    &-item {
      color: rgba($whiteColor, 0.8);
      &--username {
        color: rgba($secondaryColor, 0.9);
        font-size: 2.4rem;
      }
    }
  }
}
