$buttonPadding: 1.5rem;
$whiteColor: #f0f0f0;
$lightColor: #64dfdf;
$primaryColor: #6930c3;
$secondaryColor: #80ffdb;
$darkColor: #272727;
$errorColor: #e63946;
$successColor: #2a9d8f;
$warningColor: #ffcc00;
$paragraphTextSize: 1.6rem;
$paddingSmall: 1rem;
$paddingPage: 4.75rem 19rem;
$mainFontStyle: "Raleway", sans-serif;
$titleFontStyle: "Lora", serif;
$desktop: "1360px";
$tablet: "1100px";
$phablet: "760px";
$phone-big: "550px";
$phone: "380px";
