@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Raleway:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}

html {
  line-height: 1.7;
  font-size: 62.5%;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lora, serif;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

button {
  background: #fff;
  padding: 0.5rem 1.5rem;
  border: 1px solid #fff;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

button:hover {
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.5);
}
