.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  &__label {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  &__error {
    color: $errorColor;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  &__button {
    padding: 0.75rem 1.5rem;
    margin-top: 2rem;
    background: $secondaryColor;
    color: rgba($darkColor, 0.8);
    border-radius: 0.6rem;
    border: none;
    font-weight: bold;
    transition: 0.25s ease-in-out;
    max-width: 20rem;
    &:hover {
      background: $whiteColor;
      color: $darkColor;
      border-color: $secondaryColor;
      cursor: pointer;
    }
  }
}
.input {
  color: $darkColor;
  padding: 1rem;
  max-width: 20rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  border: 1px solid $secondaryColor;
  background: $whiteColor;
  outline: none;
  &:focus {
    border-color: $primaryColor;
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__label {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}
